#### Import արեք pandas գրադարանը pd  անունով

In [ ]:
import pandas as pd

### Import the dataset baby_names.txt, assign it to a variable called baby_names

### Import արեք baby_names.txt dataset-ը ու այն վերագրեք baby_names փոփոխականի

In [18]:
baby_names = pd.read_csv('/content/baby_names.csv')

### See the first 10 entries.

### Տպեք առաջին 10 արժեքը

In [19]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Delete the columns 'Unnamed: 0' and 'Id'

### Ջնջեք 'Unnamed: 0' ու 'Id' սյուները

In [22]:
del baby_names["Id"]
del baby_names['Unnamed: 0']

### Are there more male or female names in the dataset?

### Արդյոք dataset-ում ավելի շատ են կանացի թե տղամարդու անունները?

In [29]:
women = baby_names[baby_names["Gender"] == "F"]
men = baby_names[baby_names["Gender"] == "M"]
print("women ---", len(women),  " men ---", len(men))

women --- 2404  men --- 99

### Delete the column 'Year'. Group the dataset by name and assign to names.

### Ջնջեք 'Year' սյունը. Խմբավորեք dataset-ը ըստ անունի ու վերագրեք արդյունքը names փոփոխականին

In [44]:
#del baby_names["Year"]
names = baby_names.groupby('Name')

### How many different names exist in the dataset?

### Քանի հատ տարբեր անուն կա dataset-ում?

In [56]:
len(names)
# or 
baby_names["Name"].nunique()

575

### What is the name with most occurrences?

### Որն է ամենաշատ հանդիպող անունը?

In [79]:
df = names.agg(lambda x:x.value_counts().index[0])
df = df.sort_values("Count",ascending=False)
df.iloc[0]

Gender     M
State     AK
Count     65
Name: Ethan, dtype: object

### What is the median name occurrence?

### Որն է անունների հանդիպման մեդիանը՞

In [80]:
df.median()

Count    7.0
dtype: float64

### Get a summary with the mean, min, max, std and quartiles.

### Ստացեք dataset-ի ամփոփում mean, min, max, std ու quartile-ներով

In [ ]:
# TODO